:root{

    --black-color:#000;
    --banner-background:#9e9c93;
    --white-color:#fff;
    --theme-nav-background:#56534c;
    --theme-link-color:#7b7b7b;
    --light-gray-color:#f3f3f3;
    --theme-scriptina-font:'scriptina';
    --theme-Proxima-font:'Proxima';
    --heading-font-one:'Alegreya', serif;
    --heading-font-two:'Playfair Display', serif;
}


@font-face {
    font-family: scriptina;
    src: url(../font/scriptina.ttf);
  }
  @font-face {
    font-family: Proxima;
    src: url(../font/Proxima\ Nova\ Font.otf);
  }

.bg_light_gray{
    background-color: var(--light-gray-color);
    
}
.theme-color{
    background-color: var(--theme-color);
}


body{
    margin: 0;
    padding: 0;
    font-family: var( --theme-Proxima-font);
    font-size: 14px;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: var( --theme-link-color);
    
}
img{
    image-rendering:-webkit-optimize-contrast ;
    
}
.colunmn-gap-1{
    column-gap: 1rem;
}
.row-gap-1_5{
    row-gap: 1.5rem;
}
.column-gap_1_5{
    column-gap: 1.5rem;
}
.my-80{
    margin-top: 80px;
    margin-bottom: 80px;
}
.py-80{
    padding-top: 80px;
    padding-bottom: 80px !important;
}
.mt-80{
    margin-top: 80px;
}
.mb-80{
    margin-bottom: 80px;
}

.flex-1{
    flex: 1;
}
.theme_button{
    font-family: var(--heading-font-one);
    border-radius: 0;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2rem;
}